# ARIMA

**Assumptions:**
- Stationary time series
    - If it's not do differences until it is

In [2]:
from statsmodels.tsa.arima.model import ARIMA
import pandas as pd

In [4]:
pd.read_csv("../../../data/targets.csv")

,Unnamed: 0,date,coal,petroleum_liquids,petroleum_coke,natural_gas,total_consumption
0,180,2016-01-01,2440.0,23.0,6.0,15120.0,4.310533e+06
1,181,2016-02-01,1966.0,17.0,25.0,15400.0,3.521167e+06
2,182,2016-03-01,1659.0,19.0,28.0,17555.0,2.988208e+06
3,183,2016-04-01,1331.0,17.0,35.0,21255.0,2.427928e+06
4,184,2016-05-01,1668.0,38.0,31.0,21153.0,3.011602e+06
...,...,...,...,...,...,...,...
97,277,2024-02-01,961.0,14.0,65.0,33998.0,1.849184e+06
98,278,2024-03-01,565.0,22.0,23.0,30692.0,1.052677e+06
99,279,2024-04-01,919.0,12.0,53.0,32405.0,1.746736e+06
100,280,2024-05-01,917.0,18.0,58.0,36500.0,1.755551e+06
101,281,2024-06-01,1367.0,0.0,73.0,34578.0,2.582695e+06

## Prepare the Data

## Splits

## Training a Baseline

## Hyper-Parameter Tuning

## Evaluation