# Tree + Forecasted Trajectory Nearest Neighbor

In [15]:
import pandas as pd

from sklearn.svm import SVR
from sklearn.neighbors import KNeighborsRegressor
from sklearn.model_selection import TimeSeriesSplit
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import GridSearchCV

## Object

In [12]:
class ForecastedTrajectoryNeighbors:
    def __init__(self):
        self.model = None
        self.knn = None

    def fit(self, endog, exog=None):
        self.model.fit(endog, exog)
        self.knn.fit(endog)

    def predict(self, alpha=0.5):
        y_naught = self.model.predict(y)
        y_hat = self.knn.predict(y_hat)
        ans = alpha * y_hat + (1 - alpha) * y_naught
        return ans

## Prepare the Data

In [13]:
data = pd.read_csv("../../../data/dataset.csv", parse_dates=['date'])

In [14]:
data

,date,demand,net_generation,total_interchange,net_generation_coal,net_generation_natural_gas,net_generation_nuclear,net_generation_hydropower_and_pumped_storage,net_generation_solar,net_generation_wind,...,TOBS,WESD,WSFG,WT01,WT03,WT04,WT05,WT06,WT11,consumption
0,2016-01-01,69621.0,67425.0,-3254.0,39962.0,20101.0,11610.0,746.0,0.0,3865.0,...,-56.0,38.0,NaN,1.0,NaN,NaN,NaN,1.0,NaN,127103.0
1,2016-01-02,69855.0,67906.0,-2904.0,39962.0,20101.0,11610.0,746.0,0.0,3865.0,...,-53.0,38.0,NaN,1.0,NaN,NaN,NaN,1.0,NaN,127530.0
2,2016-01-03,69944.0,67305.0,-3588.0,39962.0,20101.0,11610.0,746.0,0.0,3865.0,...,-35.0,38.0,192.0,1.0,NaN,1.0,NaN,1.0,1.0,127693.0
3,2016-01-04,78335.0,77001.0,-2642.0,39962.0,20101.0,11610.0,746.0,0.0,3865.0,...,-75.0,51.0,192.0,1.0,NaN,1.0,NaN,1.0,1.0,143012.0
4,2016-01-05,80600.0,81083.0,-896.0,39962.0,20101.0,11610.0,746.0,0.0,3865.0,...,-86.0,51.0,192.0,1.0,NaN,1.0,NaN,1.0,1.0,147147.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3179,2024-09-14,75856.0,72728.0,-4453.0,21114.0,31613.0,11557.0,1049.0,1925.0,5164.0,...,169.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,145072.0
3180,2024-09-15,76340.0,72659.0,-5173.0,21023.0,29004.0,11520.0,1053.0,1917.0,7857.0,...,176.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,145998.0
3181,2024-09-16,81129.0,78197.0,-4749.0,22613.0,31772.0,11471.0,1118.0,2015.0,8937.0,...,163.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,155157.0
3182,2024-09-17,80632.0,79791.0,-2634.0,22567.0,30658.0,11452.0,995.0,2400.0,11449.0,...,155.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,154206.0
3183,2024-09-18,81185.0,80434.0,-2654.0,22369.0,30749.0,11420.0,1008.0,2388.0,12213.0,...,155.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,155264.0

## Splits

## Baseline

## Hyper-Parameter Tuning and CV

## Evaluation